<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".JavaProApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/java_logo"
        android:label="@string/app_name_short"
        android:supportsRtl="true"
        android:theme="@style/Theme.JavaProApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.topic.quiz.question.QuestionActivity"
            android:exported="false"
            android:parentActivityName=".ui.topic.quiz.QuizActivity" />
        <activity
            android:name=".ui.topic.quiz.QuizActivity"
            android:exported="false"
            android:parentActivityName=".ui.topic.TopicActivity"
            android:theme="@style/Theme.JavaProApp.NoActionBar" />
        <activity
            android:name=".ui.topic.link.LinkActivity"
            android:exported="false"
            android:label="@string/label_link"
            android:parentActivityName=".ui.topic.TopicActivity"
            android:theme="@style/Theme.JavaProApp.NoActionBar" />
        <activity
            android:name=".ui.topic.TopicActivity"
            android:exported="false"
            android:label="@string/label_topic"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/Theme.JavaProApp.NoActionBar" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.JavaProApp.NoActionBar" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.JavaProApp.NoActionBar" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.JavaProApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>